<div class="center jumbotron">
  <h1>Editer un mouss</h1>
  <h3>
    Ici, tu peux éditer les moussaillons 🎓
  </h3>
</div>

<%= form_for @corsair do |f| %>
    <div>
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name%>
    </div>
    <div>
      <%= f.label :age %><br />
      <%= f.text_field :age %>
    </div>

    <%= f.radio_button(:likeness, "kebab") %>
    <%= f.label(:likeness_tag, "KEBAB") %>
    <%= f.radio_button(:likeness, "hummus") %>
    <%= f.label(:likeness_tag, "HUMMUS") %>

    <table>
    <thead>
      <tr>
        <th><%= button_to 'Edit', corsair_path(@corsair), :class=>"btn btn-sm btn-warning", :method=>:patch%></th>
        <th><%= button_to 'Destroy', @corsair, :class=>"btn btn-sm btn-danger", :method=>:delete%></th>

        <th colspan="3"></th>
      </tr>
    </thead>
    </table>
<% end %>

<%= button_to 'Back', corsairs_path, :class=>"btn btn-sm btn-secondary", :method=>:get %>
